<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DonorMapper">

    <insert id="insert" parameterType="com.Rethink.dropwizarddemo.POJO.Donor">
        INSERT INTO Donor (NAME, ADDRESS, CONTACTNAME, CONTACTPHONE) VALUES
        (#{name},#{address},#{contactName},#{contactPhone});

    </insert>

    <select id="selectDonor" parameterType="int" resultType="list">
        SELECT * FROM Donor WHERE ID = #{id}
    </select>

    <select id="getAll" resultType="com.Rethink.dropwizarddemo.POJO.Donor">
        SELECT * FROM Donor
    </select>
</mapper>